node_modules
.cache
.parcel-cache
/src/dist
*.map
src/dist/index.0d6fcb10.js.map
src/dist/index.c35a7de5.css
src/dist/index.c35a7de5.css.map
src/dist/index.c35a7de5.css
src/dist/index.0d6fcb10.js.map
*.map
