.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.profile-img {
  display: block;
  margin: 25px auto;
}

.card {
  background-color: darkblue;
}

.fav-movies {
  margin-bottom: 16px;
  figure {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    img {
      height: 400px;
    }
    button.btn {
      display: block;
      margin:auto;
    }
  }
}